example/flows/TALibIndicators.json
[{"id":"72d6d3e9.3b9a1c","type":"file in","z":"7e6d6dc7.5531a4","name":"Market Data","filename":"./example/marketdata.json","format":"utf8","chunk":false,"sendError":false,"x":287.75,"y":259.4999694824219,"wires":[["2771c98.dc71536"]]},{"id":"ea2d76e5.691d88","type":"inject","z":"7e6d6dc7.5531a4","name":"Debug","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120.24999618530273,"y":259.49996852874756,"wires":[["72d6d3e9.3b9a1c"]]},{"id":"2771c98.dc71536","type":"json","z":"7e6d6dc7.5531a4","name":"","pretty":true,"x":446.50000381469727,"y":259.4999694824219,"wires":[["3e7e653.4bca99a","134c9970.f554b7","f86768fa.63f8c8","8ef5910a.382e1","8097d6b0.535928","e000ce37.26fa1","e882342b.525088","f0e26bf7.ac0928","661bb652.fec048"]]},{"id":"3e7e653.4bca99a","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["bd2ee847.572db8"],"x":575.25,"y":208.25003051757812,"wires":[]},{"id":"134c9970.f554b7","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["dbd89717.465478"],"x":573.75,"y":473.2500305175781,"wires":[]},{"id":"f86768fa.63f8c8","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["49cd752c.9c07ec"],"x":576,"y":416.7500305175781,"wires":[]},{"id":"8ef5910a.382e1","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["2045d3a5.31667c"],"x":574.75,"y":366,"wires":[]},{"id":"8097d6b0.535928","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["2593b977.a55e26"],"x":574.75,"y":102.75,"wires":[]},{"id":"e000ce37.26fa1","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["e4bd71b7.72da7"],"x":574.25,"y":54.00000762939453,"wires":[]},{"id":"e882342b.525088","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["8dc922c0.0bb72"],"x":575,"y":155.00000762939453,"wires":[]},{"id":"f0e26bf7.ac0928","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["b51b673f.7984b8"],"x":574.5,"y":259.75001525878906,"wires":[]},{"id":"661bb652.fec048","type":"link out","z":"7e6d6dc7.5531a4","name":"","links":["aa7dcdef.30f12"],"x":574.5,"y":313.00001525878906,"wires":[]}]